.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);;
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.caption-img{
    width: 90%;
    max-width: 410px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
    font-size: 16px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btns .btn img{
    width: 25px;
}
.hero-btns .btn{
   border: 0;
   outline: 0;
   padding: 8px 20px;
   display: inline-flex;
   align-items: center;
   gap: 10px;
   font-size: 15px;
   font-weight: 600;
   background-color: white;
   border-radius: 4px;
   cursor: pointer;
}
.hero-btns .btn:hover{
    background-color: rgb(230, 222, 222);
}
.hero-btns .btn.dark-btn{
    color: white;
    background-color: #6d6d6eb3;
}
.hero-btns .btn.dark-btn:hover{
  background-color: #616162b3;
}
.more-cards{
    padding: 4% 6% 2% 6%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-caption {
        padding-left: 4%;
    }

    .caption-img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .hero-caption p {
        font-size: 15px;
    }

    .hero-btns {
        flex-direction: column;
        align-items: flex-start; /* Align buttons to the start */
        gap: 5px;
        margin-bottom: 30px;
    }

    .hero-btns .btn {
        width: 100%; /* Make buttons full width on smaller screens */
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .hero-caption {
        padding-left: 2%;
    }

    .caption-img {
        max-width: 90%;
    }

    .hero-caption p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .hero-btns .btn {
        padding: 6px 15px;
        font-size: 13px;
    }

    .more-cards {
        padding: 4% 2% 2% 2%; /* Reduce padding for smaller screens */
    }
}